# 백엔드 API
API_BASE_URL=https://your-api-domain.kr

# 이미지 CDN
NEXT_PUBLIC_IMAGE_BASE_URL=https://your-image-cdn-domain.kr

# 앱 열기 (iOS only)
NEXT_PUBLIC_APP_SCHEME=your-app-scheme
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/app/idXXXXXXXXXX
